@use 'base/variables' as v;
@use 'base/mixins' as m;

.beneficios{
    background-color: v.$primario;

    .grid-beneficios{
        @include m.tablet { 
            @include m.grid (5, 4rem);
             align-items: center;
         }
    }

    .contenido-beneficios{
        grid-column: 1 / 4;

         h2 {
         @include m.headingBorder( v.$secundario, v.$blanco );
          width: 90%;
          text-align: center;
     }
       
    }

    .imagen{
        grid-column: 4 / 6;
        width: 80%;

        :hover{
            transform: rotate(4deg) scale(1.1);
            transition-property: rotate scale;
            transition-duration: 300ms;
        }
    }
}