@use 'base/variables' as v;
@use 'base/mixins' as m;

.site-header{
    @include m.bgImage('../img/header.jpg', v.$secundarioOpacity);
    padding: 5rem 0;

    .logo{
        max-width: 20rem;
        margin: 0 auto;
        @include m.tablet { 
            margin: 0;
         }
    }

    .contenido-header{
        margin-top: 10rem;
    }
}